<!DOCTYPE html>
<html>

<head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/programing/my-calc/css/style.css">
    <link rel="icon" href="/img/522507.png">
</head>

<body onkeypress="manipularTeclado()">
    <div class="fundo">
        <div class="calculadora">
            <h2 align="center">Calculadora</h2>
            <table align="center">
                <tr>
                    <td colspan="6"><input type="text" class="resultado btnColor" id="display" value="0" disabled></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn" value="7" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="8" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="9" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="*" onclick="atualizarOperacao(this)" />
                    </td>
                </tr>
                <tr>
                    <td><input type="button" class="btn" value="4" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="5" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="6" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="/" onclick="atualizarOperacao(this)" />
                    </td>
                </tr>
                <tr>
                    <td><input type="button" class="btn" value="1" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="2" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="3" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="-" onclick="atualizarOperacao(this)" />
                    </td>
                </tr>
                <tr>
                    <td><input type="button" class="btn" value="C" onclick="limparDisplay()" /></td>
                    <td><input type="button" class="btn" value="0" onclick="atualizarDisplay(this)" />
                    </td>
                    <td><input type="button" class="btn" value="=" onclick="calcularOperacao()" />
                    </td>
                    <td><input type="button" class="btn" value="+" onclick="atualizarOperacao(this)" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        function atualizarDisplay(btn) {
            const display = document.getElementById('display');
            if (display.value.length === 9) return;
            if (display.value === '0') display.value = btn.value;
            else display.value += btn.value;
        }

        function limparDisplay() {
            document.getElementById('display').value = '0';
        }

        var operador = ''
        var valor1 = 0
        function atualizarOperacao(btn) {
            const display = document.getElementById('display');
            operador = btn.value;
            valor1 = parseInt(display.value);
            display.value = '0';
        }

        function calcularOperacao() {
            const display = document.getElementById('display');
            const valor2 = parseInt(display.value);
            valor1 = eval(valor1 + operador + valor2);
            display.value = valor1;
            operador = '';
        }

        function manipularTeclado() {
            if (/[0-9]/.test(event.key))
                atualizarDisplay({ value: event.key });
        }
    </script>

</body>

</html>